nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-color: rgb(205, 205, 205);
  border-bottom-style: solid;
  background-color: rgb(219, 219, 219);
  height: 60px;
}
.container{
  margin-bottom: 100px;
}
.header-image {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 6px;
}
.header-title {
  flex: 1;
  font-weight: 900;
  color: rgba(0, 0, 255, 0.653);
}
.left-side {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}
.right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  max-width: 350px;
  margin-right: 50px;
}
.right-side .links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.main-section {
  display: flex;
  justify-content: space-between;
  align-content: center;
  column-gap: 40px;
}
.left-section {
  width: 400px;
  margin-left: 30px;
}
.profile-picture {
  margin-bottom: 70px;
}
.image {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.introduction {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(128, 128, 128, 0.648);
}
.headers {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.descriptions {
  margin-top: 0;
  width: 550px;
}
.edu-header{
  margin-top: 0;
}
h3 {
  margin-top: 0;
}
span {
  margin-right: 30px;
}
.right-section {
  margin-right: 30px;
  flex: 1;
}
