nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-color: rgb(205, 205, 205);
  border-bottom-style: solid;
  background-color: rgb(219, 219, 219);
  height: 60px;
}
.header-image {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 6px;
}
.header-title {
  flex: 1;
  font-weight: 900;
  color: rgba(0, 0, 255, 0.653);
}
.left-side {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}
.right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  max-width: 350px;
  margin-right: 50px;
}
.right-side .links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.left-container {
  width: 400px;
  padding-left: 130px;
}
.intro-message {
  width: 100px;
  text-align: center;
  margin-left: 80px;
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 100px;
  color: rgba(0, 0, 255, 0.653);
}
.intro-text {
  width: 300px;
  line-height: 25px;
  color: rgb(105, 103, 103);
}
.right-container {
  flex: 1;
  padding-left: 100px;
  border-left-width: 1.5px;
  border-left-color: rgba(0, 0, 0, 0.169);
  border-left-style: solid;
}
.names {
  display: flex;
  column-gap: 10px;
}
.names-input {
  padding:10px 40px;
  margin-top: 5px;
  border-radius: 6px;
  border: solid 1px rgba(128, 128, 128, 0.596);
}
.submit-button{
  padding: 10px 150px;
  margin-top: 5px;
  border-radius: 6px;
  margin-left: 70px;
  background-color: rgba(0, 0, 255, 0.653);
  border: none;
  color: white;
  font-weight: 900;
  cursor: pointer;
  margin-top: 20px;
}
.input-sizes {
  padding: 10px 168px;
  margin-top: 5px;
  border-radius: 6px;
  border: solid 1px rgba(128, 128, 128, 0.596);
}
span {
  color: gray;
  font-size: 14px;
}
.right-container p {
  margin-bottom: 0;
}
@media (max-width: 768px){
 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}
.left-container {
  padding-left: 200px;
}
.intro-message {
  margin-bottom: 50px;
}
.intro-text {
  width: 400px;
  margin-left: -40px;
}
.right-container {
  border-top-width: 1.5px;
  border-top-color: rgba(0, 0, 0, 0.169);
  border-top-style: solid;
  border-left-style: none;
  margin-top: 20px;
  padding-top: 20px;
}
.names-input {
  padding:10px 30px;
}
.submit-button{
  padding: 10px 120px;
}
.input-sizes {
  padding: 10px 147px;
  
}
}
@media (max-width:414px){
  .right-side {
  margin-right: 10px;
  }
  .right-container{
    padding-left: 0;
    margin-left: 50px;
    width: 400px;
  }
  .left-container {
  padding-left: 100px;
}
  .names-input {
  padding:10px 16px;
}
.submit-button{
  padding: 10px 100px;
}
.input-sizes {
  padding: 10px 118px;
}
.text-area-input{
  padding: 10px 124px;
}
}

