body{
    font-family: Arial;
    background-color: rgb(239, 237, 237);
    padding-left: 210px;
    padding-top: 110px;
}
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 190px;
    height: 80px;
    background-color: rgb(0, 6, 128);
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 900;
    
}
.sidebar-box{
    position: absolute;
    top:0;
    left: 0;
    height: 650px;
    width: 190px;
    z-index: 1000;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(128, 128, 128, 0.349);
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.47);
    background-color: white;
}
.sidebar-title{
    padding-left: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(128, 128, 128, 0.63);
    width: 170px;
}
.sidebar-title p{
    margin-top: 0;
}
h2{
    width: 170px;
    margin-bottom: 10px;
    color: blue;
}
.sidebar-links{
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-image{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    object-fit: cover;
}
.links{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: black;
}
.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    

}
.container{
    width: 280px;
    box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.276);
    border-radius: 10px;
    padding-bottom: 10px;
}
.project-image{
    height: 200px;
    width: 100%;
}
.image-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}
span{
    font-size: 25px;
    
}
.container p{
    margin-left: 10px;
}